## Bibliotecas a Utilizar

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

## Enlaces

In [2]:
enlace_2018_06 = './data/2018_06_Indicadores_Gestion.xls'
enlace_2018_03 = './data/2018_03_Indicadores_Gestion.xls'

enlace_2017_12 = './data/2017_12_Indicadores_Gestion.xls'
enlace_2017_09 = './data/2017_09_Indicadores_Gestion.xls'
enlace_2017_06 = './data/2017_06_Indicadores_Gestion.xls'
enlace_2017_03 = './data/2017_06_Indicadores_Gestion.xls'

enlace_2016_12 = './data/2016_12_Indicadores_Gestion.xls'
enlace_2016_09 = './data/2016_09_Indicadores_Gestion.xls'
enlace_2016_06 = './data/2016_06_Indicadores_Gestion.xls'
enlace_2016_03 = './data/2016_03_Indicadores_Gestion.xls'

enlace_2015_12 = './data/2015_12_Indicadores_Gestion.xls'
enlace_2015_09 = './data/2015_09_Indicadores_Gestion.xls'
enlace_2015_06 = './data/2015_06_Indicadores_Gestion.xls'
enlace_2015_03 = './data/2015_03_Indicadores_Gestion.xls'

enlace_2014_12 = './data/2014_12_Indicadores_Gestion.xls'
enlace_2014_09 = './data/2014_09_Indicadores_Gestion.xls'
enlace_2014_06 = './data/2014_06_Indicadores_Gestion.xls'
enlace_2014_03 = './data/2014_03_Indicadores_Gestion.xls'

enlace_2013_12 = './data/2013_12_Indicadores_Gestion.xls'
enlace_2013_09 = './data/2013_09_Indicadores_Gestion.xls'
enlace_2013_06 = './data/2013_06_Indicadores_Gestion.xls'
enlace_2013_03 = './data/2013_03_Indicadores_Gestion.xls'

enlace_2012_12 = './data/2012_12_Indicadores_Gestion.xls'
enlace_2012_09 = './data/2012_09_Indicadores_Gestion.xls'
enlace_2012_06 = './data/2012_06_Indicadores_Gestion.xls'
enlace_2012_03 = './data/2012_03_Indicadores_Gestion.xls'

## Data Frames

In [19]:
df_2018_06 = pd.read_excel(enlace_2018_06, sheet_name='1 Indicadores Patrimoniales', skiprows=3, header=1)
df_2018_03 = pd.read_excel(enlace_2018_03, sheet_name='1 Indicadores Patrimoniales', skiprows=3, header=1)

df_2017_12 = pd.read_excel(enlace_2017_12, sheet_name='1 Indicadores Patrimoniales', skiprows=3, header=1)
df_2017_09 = pd.read_excel(enlace_2017_09, sheet_name='1 Indicadores Patrimoniales', skiprows=3, header=1)
df_2017_06 = pd.read_excel(enlace_2017_06, sheet_name='1 Indicadores Patrimoniales', skiprows=3, header=1)
df_2017_03 = pd.read_excel(enlace_2017_03, sheet_name='1 Indicadores Patrimoniales', skiprows=3, header=1)

df_2017_03.head(2)

,Nº,NJ,Denominación,% Producción Total,Cantidad de Juicios,% (Créditos/ Activos),% [(Dispon.+ Invers.) / Deudas c/Aseg.],% [(Dispon.+ Invers. + Inmuebles) / Deudas c/Aseg.],% [(Dispon.+ Invers.+ Inmueb.) / (Deudas c/Aseg.+ Comp.Técn.)],% (Inversiones + Inmuebles) / Activos,% Superávit / Capital Requerido,[(Dispon.+ Invers.) / Compromisos Exigibles]
0,NaN,NaN,Total de Mercado,100.000000,564710,19.878665,200.762,203.923,123.905,75.913481,72.7238,33.3117
1,NaN,A,Sociedades Anónimas,83.251348,493464,17.871683,193.75,196.362,121.421,78.356940,51.617,30.9407

## Trabajando los Data Frames 
* Reemplazando los datos incorrectos
* Creando una columna con fecha
* Creando columna con riesgos
* Dando tipo correcto a las columnas

In [20]:
# Diccionario con fechas para cada data frame
fechas = {
    'df_2018_12':'12/2018', 'df_2018_09':'09/2018', 'df_2018_06':'06/2018', 'df_2018_03':'03/2018',
    'df_2017_12':'12/2017', 'df_2017_09':'09/2017', 'df_2017_06':'06/2017', 'df_2017_03':'03/2017',
    'df_2016_12':'12/2016', 'df_2016_09':'09/2016', 'df_2016_06':'06/2016', 'df_2016_03':'03/2016',
    'df_2015_12':'12/2015', 'df_2015_09':'09/2015', 'df_2015_06':'06/2015', 'df_2015_03':'03/2015',
    'df_2014_12':'12/2014', 'df_2014_09':'09/2014', 'df_2014_06':'06/2014', 'df_2014_03':'03/2014',
    'df_2013_12':'12/2015', 'df_2013_09':'09/2013', 'df_2013_06':'06/2013', 'df_2013_03':'03/2013',
    'df_2012_12':'12/2012', 'df_2012_09':'09/2012', 'df_2012_06':'06/2012', 'df_2012_03':'03/2012',    
}


# Eliminando las primeras 5 filas
df_2017_03 = df_2017_03[6:]

In [26]:
# Agregando la columna fecha
df_2017_03['Fecha'] = fechas['df_2017_03']

df_2017_03.head(2)

,Nº,NJ,Denominación,% Producción Total,Cantidad de Juicios,% (Créditos/ Activos),% [(Dispon.+ Invers.) / Deudas c/Aseg.],% [(Dispon.+ Invers. + Inmuebles) / Deudas c/Aseg.],% [(Dispon.+ Invers.+ Inmueb.) / (Deudas c/Aseg.+ Comp.Técn.)],% (Inversiones + Inmuebles) / Activos,% Superávit / Capital Requerido,[(Dispon.+ Invers.) / Compromisos Exigibles],Fecha
6,1.0,A,ACE,0.854463,733,50.950153,259.875,259.875,129.683,40.922185,180.347,10.3649,03/2017
7,2.0,A,AFIANZADORA,0.090072,23,48.939118,//,//,260.837,48.066545,10.0434,///,03/2017

In [28]:
#l = [df_2017_12,df_2017_09]
l = ['df_2017_12','df_2017_09']

f = ','.join(l)

f

'df_2017_12,df_2017_09'