## Bibliotecas a utilizar

In [39]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Obtención del archivo

In [31]:
df_Base = pd.read_excel('http://www2.ssn.gob.ar/files/Archivos/C_Companias_Productores/07_info_est_y_contable/info_est_contable/indicadores/2018_06_Indicadores%20-%202018-2%20-%20Anexo%20web.xls',
                              sheet_name='1 Indicadores Patrimoniales',skiprows=3, header=1, index_col=0 )
df_Base.head(0)

Empty DataFrame
Columns: [NJ, Denominación, %
Producción
Total, Cantidad
de
Juicios , %
(Créditos/
Activos), %
[(Dispon.+ Invers.) /
Deudas c/Aseg.], %
[(Dispon.+ Invers. + Inmuebles) /
Deudas c/Aseg.], %
[(Dispon.+ Invers.+ Inmueb.) /
(Deudas c/Aseg.+ Comp.Técn.)], %
(Inversiones + Inmuebles) /
Activos, %
Superávit /
Capital Requerido, [(Dispon.+ Invers.) /
Compromisos Exigibles]]
Index: []

## Creando los DataFrames
* Selección de columnas
* Partición por ramos

In [38]:
todas_columnas = df_Base.columns.values.tolist()
columnas_deseadas = ['Denominación',
                     '%\nProducción\nTotal',
                     '%\n(Créditos/\nActivos)',
                     '%\n[(Dispon.+ Invers.) /\nDeudas c/Aseg.]',
                     '%\n[(Dispon.+ Invers. + Inmuebles) /\nDeudas c/Aseg.]',
                     '%\n[(Dispon.+ Invers.+ Inmueb.) /\n(Deudas c/Aseg.+ Comp.Técn.)]',
                     '% \n(Inversiones + Inmuebles) /\nActivos',
                     '%\nSuperávit /\nCapital Requerido',
                     '[(Dispon.+ Invers.) /\nCompromisos Exigibles]']

df_Pat = df_Base[6:127][columnas_deseadas]              # Seguros Patrimoñales
df_ART = df_Base[128:141][columnas_deseadas]            # Seguros ART
df_TPub = df_Base[142:147][columnas_deseadas]           # Seguros Transporte Público
df_Vida = df_Base[148:182][columnas_deseadas]           # Seguros Vida
df_Retiro = df_Base[183:199][columnas_deseadas]         # Seguros Retiro

df_Pat.head(2)

,Denominación,% Producción Total,% (Créditos/ Activos),% [(Dispon.+ Invers.) / Deudas c/Aseg.],% [(Dispon.+ Invers. + Inmuebles) / Deudas c/Aseg.],% [(Dispon.+ Invers.+ Inmueb.) / (Deudas c/Aseg.+ Comp.Técn.)],% (Inversiones + Inmuebles) / Activos,% Superávit / Capital Requerido,[(Dispon.+ Invers.) / Compromisos Exigibles]
Nº,,,,,,,,,
1,AFIANZADORA,0.086878,48.554167,402.667,402.667,181.036,46.774304,78.3161,///
2,AGROSALTA,0.085777,66.764600,178.077,178.077,155.611,30.899752,294.113,80.6708